*{

    margin: 0px;
    padding: 0px;
}
#header
{
    height: 100px; /* ovo ce se menjati */
}
.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #94b0e0 10%, #232c3b);
    background: -webkit-linear-gradient(left, #94b0e0 60%, #232c3b);
    background: linear-gradient(45deg, #94b0e0 10%, #232c3b);
}
.logoAviato
{

    width: 340px;

}
