<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <br>
        <div class="col-md-1" id="footer-left">
          <a data-toggle="tooltip" title="Klikni me..." id="moveleft">
            <img id="logo" src="assets/Icon.png">
          </a>
        </div>
        <div class="col-md-4" style="padding-right: 15px">
          <span id="aboutus">Aviato je IT razvojna kompanija koja se bavi svim vrstama pružanja usluga u okviru IT-a. Naše sedište je u Kragujevcu
            u ulici Janka Veselinovića 65. Pružamo brzu, interaktivnu i dinamičku izradu svih vrsta web sajtova, a pored
            toga imamo i našu prodavnicu IT opreme.</span>
        </div>
        <div class="col-md-3">
          <span id="footer-middle">

            <p style="margin-top: 5px;">Kontaktirajte nas:</p>
            <img class="contacticons" src="assets/phone.png"> + 381 61/422-96-96
            <br>
            <img class="contacticons" src="assets/emailicon.png"> aviatotim2018@gmail.com
            <br>
            <img class="contacticons" src="assets/home.png"> Janka Veselinovića 65, Kragujevac
          </span>
        </div>
        <div class="col-md-4" id="contactButtons">
          <a href="https://www.facebook.com/Aviato-PC-Shop-688618757999748/" class="fa fa-facebook"></a>
          <span class="nameContact">Facebook</span>
          <a href="https://twitter.com/Aviato_PC_Shop" class="fa fa-twitter"></a>
          <span class="nameContact">Twitter</span>
          <a href="mailto:aviatotim2018@gmail.com" class="fa fa-google"></a>
          <span class="nameContact">Gmail</span>
          <br>
          <a href="https://www.linkedin.com/in/aviato-pc-shop/" class="fa fa-linkedin"></a>
          <span class="nameContact">Linkedin</span>
          <a href="https://www.youtube.com/channel/UCF8cT3xqQdsqVHRtxcOukkw?view_as=subscriber" class="fa fa-youtube"></a>
          <span class="nameContact">Youtube</span>
          <a href="https://www.instagram.com/aviatopcshop/" class="fa fa-instagram"></a>
          <span class="nameContact">Instagram</span>
        </div>
        <br>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="copywriting">© 2018 aviatowebportal.rs - Sva prava zadržana</p>
      <div id="box">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-2" style="text-align: center">
            <img src="assets/peja.gif" style="width: 125px; border-radius: 50%; margin-top: 5px" alt="PEJA">
            <p class="names">
              <span style="font-weight: bold; font-size: 12px">Predrag Kolović</span>
              <br>Front-end Developer</p>
          </div>
          <div class="col-md-2" style="text-align: center">
            <img src="assets/miloje.gif" style="width: 125px; border-radius: 50%; margin-top: 5px" alt="PEJA">
            <p class="names">
              <span style="font-weight: bold; font-size: 12px">Nemanja Milojević</span>
              <br>Front-end Developer</p>
          </div>
          <div class="col-md-2" style="text-align: center">
            <img src="assets/djus.gif" style="width: 125px; border-radius: 50%; margin-top: 5px" alt="PEJA">
            <p class="names">
              <span style="font-weight: bold; font-size: 12px">Stefan Đusić</span>
              <br>Back-end Developer</p>
          </div>
          <div class="col-md-2" style="text-align: center">
            <img src="assets/rema.gif" style="width: 125px; border-radius: 50%; margin-top: 5px" alt="PEJA">
            <p class="names">
              <span style="font-weight: bold; font-size: 12px">Marko Vuković</span>
              <br>Back-end Developer</p>
          </div>
          <div class="col-md-2" style="text-align: center">
            <img src="assets/peja.gif" style="width: 125px; border-radius: 50%; margin-top: 5px" alt="PEJA">
            <p class="names">
              <span style="font-weight: bold; font-size: 12px">Anđelika Glušac</span>
              <br> Full Stack Developer | Team Leader</p>
          </div>
          <div class="col-md-1" style="text-align: center">
            <a id="close">
              <img src="assets/Icon_Red_X.png" style="width: 35%">
            </a>
          </div>
        </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    </div>
  </div>
</div>