<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<div class="container-fluid">
  <div class="row">

    <div class="col-md-12">

      <br>
      <div id="tableEvidention" class="container">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Person_Name')">Ime osobe
                <span class="glyphicon sort-icon" *ngIf="key =='Person_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Person_Surname')">Prezime osobe
                <span class="glyphicon sort-icon" *ngIf="key =='Person_Surname'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td>Tip stana</td>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('City_Name')">Naziv grada
                <span class="glyphicon sort-icon" *ngIf="key =='City_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td>Adresa</td>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Date_Time')">Datum
                <span class="glyphicon sort-icon" *ngIf="key =='Date_Time'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td>Vreme</td>
              <td>Akcija</td>
            </tr>
            <tr *ngFor="let record of filteredRecords | orderBy: key : reverse | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
              <td>{{record.Person_Name}}</td>
              <td>{{record.Person_Surname}}</td>
              <td>{{record.Type_Name}}</td>
              <td>{{record.City_Name}}</td>
              <td>{{record.Address}}</td>
              <td>{{record.Date_Time| date:'dd.MM.yyyy'}}</td>
              <td>{{record.Date_Time | date:"HH:mm"}}</td>
              <td>
                <!-- <button [(ngModel)]="detailRecord" [value]="record.Record_Id" (click)="detailFilter();openModalWithClass(template)" class="btnDetails">Detaljnije</button> -->

                <input type="button" value="Detaljnije" (click)="openModalWithClass(template, record)" id="btnDetails">

              </td>
            </tr>

          </table>
          <br>
        </div>
      </div>
      <pagination-controls class="paginationPosition" (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>


  <div class="row">

    <div class="col-md-5">

      <br>
      <div id="tableEvidention" class="container">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <td>Ime vlasnika
              </td>
              <td>JMBG
              </td>
              <td>Broj lične karte</td>
              <td>Akcija</td>
            </tr>
            <tr *ngFor="let owner of owners">
              <td>{{owner.Name}} {{owner.Surname}}</td>
              <td>{{owner.JMBG}}</td>
              <td>{{owner.Card_Number}}</td>
              <td>
                <input type="button" value="Izmeni" (click)="openModalWithClassOwnerUpdate(templateOwnerUpdate, owner)" id="btnDetails">
                <input type="button" value="Izbriši" (click)="openModalWithClassOwnerDelete(templateOwnerDelete, owner)" id="btnDetails">

              </td>
            </tr>

          </table>
          <br>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <br>
      <div id="tableEvidention" class="container">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <td>Naziv Grada
              </td>
              <td>Ppt
              </td>
              <td>Akcija</td>

            </tr>
            <tr *ngFor="let city of cities">
              <td>{{city.City_Name}}</td>
              <td>{{city.Ppt}}</td>
              <td>
                <input type="button" value="Izmeni" (click)="openModalWithClassCityUpdate(templateCityUpdate, city)" id="btnDetails">
                <input type="button" value="Izbriši" (click)="openModalWithClassCityDelete(templateCityDelete, city)" id="btnDetails">

              </td>
            </tr>

          </table>
          <br>
        </div>
      </div>

    </div>
    <div class="col-md-1">
      <input type="button" value="Unesi grad" (click)="openModalWithClassCity(templateCity)" id="btnDetails">
      <input type="button" value="Unesi vlasnika" (click)="openModalWithClassOwner(templateOwner)" id="btnDetails">
      <input type="button" value="Unesi tip apartmana" (click)="openModalWithClassType(templateType)" id="btnDetails">
      <input type="button" value="Unesi Apartman" (click)="openModalWithClassApartment(templateApartmant)" id="btnDetails">

    </div>

  </div>

  <div class="row">

    <div class="col-md-9">

      <br>
      <div id="tableEvidention" class="container">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <td>Vlasnik stana</td>
              <td>Tip apartmana</td>
              <td>Naziv grada</td>
              <td>Adresa</td>
              <td>Broj stana</td>
              <td>Akcija</td>
            </tr>
            <tr *ngFor="let apartment of apartments">
              <td>{{apartment.Owner_Id}}</td>
              <td>{{apartment.Type_Id}}</td>
              <td>{{apartment.City_Id}}</td>
              <td>{{apartment.Address}}</td>
              <td>{{apartment.Apartment_Number}}</td>
              <td>
                <input type="button" value="Izmeni" (click)="openModalWithClassApartmentUpdate(templateOwnerUpdate, owner)" id="btnDetails">
                <input type="button" value="Izbriši" (click)="openModalWithClassApartmentDelete(templateOwnerDelete, owner)" id="btnDetails">

              </td>
            </tr>

          </table>
          <br>
        </div>
      </div>

    </div>

    <div class="col-md-3">

      <br>
      <div id="tableEvidention" class="container">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <td>Tip Apartmana</td>
              <td>Akcija</td>
            </tr>
            <tr *ngFor="let type of types">
              <td>{{type.Type_Name}}</td>
              <td>
                <input type="button" value="Izmeni" (click)="openModalWithClassTypeUpdate(templateTypeUpdate, type)" id="btnDetails">
                <input type="button" value="Izbriši" (click)="openModalWithClassTypeDelete(templateTypeDelete, type)" id="btnDetails">

              </td>
            </tr>

          </table>
          <br>
        </div>
      </div>

    </div>


  </div>

</div>

<ng-template #template>
  <div class="modal-header" id="modal-head">
    <h4 class="modal-title pull-left">Detaljnije informacije</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal-main">
    <div class="person">
      <h2>Osoba</h2>
      Ime: {{selectedRecord.Person_Name}}
      <br> Prezime: {{selectedRecord.Person_Surname}}
      <br> JMBG: {{selectedRecord.JMBG}}
      <br>
    </div>
    <div class="appartment">
      <h2>Stan</h2>
      Tip stana: {{selectedRecord.Type_Name}}
      <br> Mesto: {{selectedRecord.City_Name}}
      <br> Adresa: {{selectedRecord.Address}}
      <br> Broj stana: {{selectedRecord.Apartment_Number}}
      <br> Datum i vreme: {{selectedRecord.Date_Time}}
      <br> Status: {{selectedRecord.Record_Status}}
      <br>
    </div>
    <div class="owner">
      <h2>Vlasnik</h2>
      Ime: {{selectedRecord.Owner_Name}}
      <br> Prezime: {{selectedRecord.Owner_Surname}}
      <br> JMBG: {{selectedRecord.Owner_JMBG}}
      <br>
    </div>

  </div>
</ng-template>

<ng-template #templateCity>
  <div class="modal-header" id="modal-head">
    <h4 class="modal-title pull-left">Detaljnije informacije</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal-main">
    <form>
      <input type="text" name="cities" [(ngModel)]="txtCity_Name" style="color:black" placeholder="Naziv grada">
      <input type="number" name="cities" [(ngModel)]="txtPpt" style="color:black" placeholder="PPT">
      <input type="button" (click)="insertCities(txtCity_Name, txtPpt)" class="fadeIn fourth" value="Unesi" style="color:black">
    </form>
  </div>
</ng-template>

<ng-template #templateOwner>
  <div class="modal-header" id="modal-head">
    <h4 class="modal-title pull-left">Detaljnije informacije</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal-main">
    <form>
      <input type="text" name="owners" [(ngModel)]="txtOwner_Name" style="color:black" placeholder="Ime vlasnika">
      <input type="text" name="owners" [(ngModel)]="txtOwner_Surname" style="color:black" placeholder="Prezime vlasnika">
      <input type="text" name="owners" [(ngModel)]="txtOwner_JMBG" style="color:black" placeholder="JMBG vlasnika">
      <input type="number" name="owners" [(ngModel)]="txtOwner_Card_Number" style="color:black" placeholder="Broj licne karte vlasnika">
      <input type="text" name="owners" [(ngModel)]="txtOwner_Username" style="color:black" placeholder="Korisnicko ime vlasnika">
      <input type="text" name="owners" [(ngModel)]="txtOwner_Password" style="color:black" placeholder="Lozinka vlasnika">

      <input type="button" (click)="insertOwners(txtOwner_Name, txtOwner_Surname, txtOwner_JMBG, txtOwner_Card_Number, txtOwner_Username, txtOwner_Password)"
        class="fadeIn fourth" value="Unesi" style="color:black">
    </form>
  </div>
</ng-template>

<ng-template #templateType>
  <div class="modal-header" id="modal-head">
    <h4 class="modal-title pull-left">Detaljnije informacije</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal-main">
    <form>
      <input type="text" name="types" [(ngModel)]="txtType_Name" style="color:black" placeholder="Tip apartmana">
      <input type="button" (click)="insertTypes(txtType_Name)" class="fadeIn fourth" value="Unesi" style="color:black">
    </form>
  </div>
</ng-template>

<ng-template #templateApartmant>
  <div class="modal-header" id="modal-head">
    <h4 class="modal-title pull-left">Detaljnije informacije</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal-main">
    <form>
      <input type="text" name="apartments" [(ngModel)]="txtAddress" style="color:black" placeholder="Adresa apartmana">
      <input type="number" name="apartments" [(ngModel)]="txtApartmentNumber" style="color:black" placeholder="Broj stana">
      
      <select id="apartmentType" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredApartmentType">
        <option value="" selected disabled hidden>Odaberite tip stana</option>
        <option *ngFor="let a of listOfApartmentTypes" [value]="a.Type_Id">{{a.Type_Name}}</option>
      </select>
     
      <select id="cityName" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredCityName">
        <option value="" selected disabled hidden>Odaberite grad</option>
        <option *ngFor="let a of listOfCityNames" [value]="a.City_Id">{{a.City_Name}}</option>
      </select>
     
      <select id="cityName" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="filteredOwnerName">
        <option value="" selected disabled hidden>Odaberite vlasnika</option>
        <option *ngFor="let a of listOfOwners" [value]="a.Owner_Id">{{a.Name}} {{a.Surname}}</option>
      </select>

      <input type="button" (click)="insertApartments(txtAddress, txtApartmentNumber, filteredApartmentType, filteredCityName, filteredOwnerName)" class="fadeIn fourth" value="Unesi" style="color:black">
    </form>
  </div>
</ng-template>