*{

    margin: 0px;
    padding: 0px;
}

#left
{
    height: 450px; /* ovo ce se menjati */

	background: -webkit-linear-gradient(180deg, #94b0e0 10%, #232c3b);
    background: -webkit-linear-gradient(left, #94b0e0 60%, #232c3b);
    background: linear-gradient(180deg, #94b0e0 10%, #232c3b);

}
#records-user
{
    height: 90px; /* ovo ce se menjati */
	 border-bottom: 1px solid black;
}

#records-filter
{

    height: 360px; /* ovo ce se menjati */
    

}

.sortiraj {
    cursor: pointer;
}
#tableEvidention
{
    text-align: center;
    width: 100%;
}
#tableOwners
{
    text-align: center;
    width: 100%;
}
#tableApartments
{
    text-align: center;
    width: 100%;
}
#tableCities
{
    text-align: center;
    width: 100%;
}
#tableType
{
    text-align: center;
    width: 100%;
}
#btnDetails {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
}
#btnDetails:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
#btnDetails:active {
	position:relative;
	top:1px;
}
#btnInsert {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 8px;
	text-decoration:none;
}
#btnInsert:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
#btnInsert:active {
	position:relative;
	top:1px;
}

#btnDetails2 {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:8px 10px;
	text-decoration:none;
	margin-right: 20px;
}
#btnDetails2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
#btnDetails2:active {
	position:relative;
	top:1px;
}
.paginationPosition
{
    text-align: center;
}
.UserIcon
{
	width: 35px;
	margin-top: 10px;
	margin-left: 42.5%;
	position: relative;
}
.UserName
{
	position: relative;
	text-align: center;

}
.numberOfApartments
{
	position: relative;
	text-align: center;
}
#navbar
{
	background-color: #94b0e0;
	color: black;
	border-color: #232c3b;
	border-radius: 10px;
	margin-top: 5px;  
}
#navbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

#navbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

#navbar::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

#dateRangePicker
{
	margin-top: 5px;
	width: 100%;
	color: black;
}

#dateRangePicker::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
#dateRangePicker:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
#dateRangePicker::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
#apartmentType
{
	color: black;
	margin-top: 5px;
}
#cityName
{
	color: black;
	margin-top: 5px;
}
.radio
{
	color: white;
}
#btnReload {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:8px 16px;
	text-decoration:none;
	width: 100%;
}
#btnReload:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
#btnReload:active {
	position:relative;
	top:1px;
}

.person{
	position: absolute;
	top: 10px;
}

.appartment{
	position: absolute;
	left: 40%;
	top: 10px;
}

.owner{
	position: absolute;
	text-align: right;
	left: 80%;
	top: 10px;
}

#modal-main{
	border-radius: 0px 0px 5px 5px;
	min-height: 300px;
	background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
}

#modal-head {
	border-radius: 5px 5px 0px 0px;
    background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
}
#modal-mainCity{
	border-radius: 0px 0px 5px 5px;
	min-height: 150px;
	background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
	text-align: center;
}

#modal-headCity {
	border-radius: 5px 5px 0px 0px;
    background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
}
#modal-mainOwner{
	border-radius: 0px 0px 5px 5px;
	min-height: 150px;
	background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
	text-align: center;
}

#modal-headOwner {
	border-radius: 5px 5px 0px 0px;
    background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
}
#modal-mainType{
	border-radius: 0px 0px 5px 5px;
	min-height: 150px;
	background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
	text-align: center;
}

#modal-headType {
	border-radius: 5px 5px 0px 0px;
    background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
}
#modal-mainApartment{
	border-radius: 0px 0px 5px 5px;
	min-height: 150px;
	background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
	text-align: center;
}

#modal-headApartment {
	border-radius: 5px 5px 0px 0px;
    background: -webkit-linear-gradient(45deg,#232c3b 10%, #94b0e0 );
    background: -webkit-linear-gradient(left,#232c3b 60%, #94b0e0);
	background: linear-gradient(45deg,#232c3b 10%, #94b0e0 );
	color: #d4d3d3;
}
#radiobuttons
{
	margin-top: 5px;
	margin-left: 25px;
}
.tooltipbtn {
    position: relative;
	display: inline-block;
}

.tooltipbtn .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 98%;
    left: 50%;
	margin-left: -65px;
	
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltipbtn .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipbtn:hover .tooltiptext {
    visibility: visible;
	opacity: 1;
	font-size: 13px;
}