<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="left">

      <div class="row">
        <div class="col-md-12" id="records-user">

          <img src="assets/user.png" alt="UserIcon" class="UserIcon">
          <p class="UserName">Korisnik:
            <span style="font-weight: bold">{{Owner_Name}} {{ Owner_Surname}}</span>
          </p>
          <p class="numberOfApartments">Broj stanova:
            <span style="font-weight: bold">{{Owner_Number_of_apartments}}</span>
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12" id="records-filter">
          
          <input id="navbar" class="form-control" type="text" name="search" placeholder="Pretražite..." [(ngModel)]="searchfilter">

          <select id="apartmentType" class="form-control" [(ngModel)]="filteredApartmentType" (change)="filter()">
            <option value="" selected disabled hidden>Odaberite tip stana</option>
            <option *ngFor="let a of listOfApartmentTypes" [value]="a.Type_Name">{{a.Type_Name}}</option>
          </select>
          
          <select id="cityName" class="form-control" [(ngModel)]="filteredCityName" (change)="filter()">
            <option value="" selected disabled hidden>Odaberite grad</option>
            <option *ngFor="let a of listOfCityNames" [value]="a.City_Name">{{a.City_Name}}</option>
          </select>



          <input id="dateRangePicker" (bsValueChange)="filter()" placeholder="Odaberite datume" class="form-control" #drp="bsDaterangepicker"
            bsDaterangepicker [bsConfig]="bsConfig" placement="right" [(ngModel)]="bsRangeValue">

          
          <!-- Prikaz filtera za filtriranje po vremenu -->
          <div class="radio" id="radiobuttons">
            <label>
              <input type="radio" (change)="filter()" [(ngModel)]="filteredDate" [value]="AllDateString">Sve</label>
            <br>
            <label>
              <input type="radio" (change)="filter()" [(ngModel)]="filteredDate" [value]="todayString">Danas</label>
            <br>
            <label>
              <input type="radio" (change)="filter()" [(ngModel)]="filteredDate" [value]="weekString">Poslednjih 7 dana</label>
            <br>
            <label>
              <input type="radio" (change)="filter()" [(ngModel)]="filteredDate" [value]="monthString">Poslednjih 30 dana</label>

          </div>
          <!-- Kraj prikaza filtera za filtriranje po vremenu -->
          <div class="row">
            <div class="col-md-12">
              <button type="reset" style="margin-top: 5px" id="btnReload" (click)="ClearFilters()" class="btn-info">Poništi filtere</button>
            </div>
          </div>

          <div class="row">
              <div class="col-md-12">
                <button (click)="Logout()" style="margin-top: 5px" id="btnReload" class="btn-info">Logout</button>
              </div>
            </div>

          <br>



        </div>

      </div>
      <!-- Date Range Picker -->
      <div class="row">
        <div class="col-xs-12 col-12 col-md-4 form-group">
        </div>
      </div>
      <!-- Kraj Date Range Picker -->


    </div>

    <div class="col-md-10" id="records">

      <br>
      <div id="tableEvidention" class="container">
        <div class="table-responsive">
          <table class="table table-hover table-bordered">
            <tr>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Person_Name')">Ime osobe
                <span class="glyphicon sort-icon" *ngIf="key =='Person_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Person_Surname')">Prezime osobe
                <span class="glyphicon sort-icon" *ngIf="key =='Person_Surname'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td>Tip stana</td>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('City_Name')">Naziv grada
                <span class="glyphicon sort-icon" *ngIf="key =='City_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td>Adresa</td>
              <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Date_Time')">Datum
                <span class="glyphicon sort-icon" *ngIf="key =='Date_Time'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
              </td>
              <td>Vreme</td>
              <td>Akcija</td>
            </tr>
            <tr *ngFor="let record of filteredRecords | orderBy: key : reverse | filter:searchfilter | paginate: { itemsPerPage: 6, currentPage: p }; let i = index">
              <td>{{record.Person_Name}}</td>
              <td>{{record.Person_Surname}}</td>
              <td>{{record.Type_Name}}</td>
              <td>{{record.City_Name}}</td>
              <td>{{record.Address}}</td>
              <td>{{record.Date_Time| date:'dd.MM.yyyy'}}</td>
              <td>{{record.Date_Time | date:"HH:mm"}}</td>
              <td>
                <!-- <button [(ngModel)]="detailRecord" [value]="record.Record_Id" (click)="detailFilter();openModalWithClass(template)" class="btnDetails">Detaljnije</button> -->

                <input type="button" value="Detaljnije" (click)="openModalWithClass(template, record)" id="btnDetails">

              </td>
            </tr>

          </table>
          <br>
        </div>
      </div>
      <pagination-controls class="paginationPosition" (pageChange)="p = $event"></pagination-controls>

    </div>





  </div>
</div>

<ng-template #template>
  <div class="modal-header" id="modal-head">
    <h4 class="modal-title pull-left">Detaljnije informacije</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modal-main">
    <div class="person">
      <h2>Osoba</h2>
      Ime: {{selectedRecord.Person_Name}}
      <br> Prezime: {{selectedRecord.Person_Surname}}
      <br> JMBG: {{selectedRecord.JMBG}}
      <br>
    </div>
    <div class="appartment">
      <h2>Stan</h2>
      Tip stana: {{selectedRecord.Type_Name}}
      <br> Mesto: {{selectedRecord.City_Name}}
      <br> Adresa: {{selectedRecord.Address}}
      <br> Broj stana: {{selectedRecord.Apartment_Number}}
      <br> Datum i vreme: {{selectedRecord.Date_Time}}
      <br> Status: {{selectedRecord.Record_Status}}
      <br>
    </div>
    <div class="owner">
      <h2>Vlasnik</h2>
      Ime: {{selectedRecord.Owner_Name}}
      <br> Prezime: {{selectedRecord.Owner_Surname}}
      <br> JMBG: {{selectedRecord.Owner_JMBG}}
      <br>
    </div>

  </div>
</ng-template>