<div class="container-fluid">
	<div class="row">
		<div class="col-md-2" id="left">

			<div class="row">
				<div class="col-md-12" id="records-user">
          <p style="text-align: center">Search</p>
          
          <nav class="navbar">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchfilter">      
          </nav>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12" id="records-filter">
            <p style="text-align: center">FILTER</p>
            <select [(ngModel)]="filteredApartmentType" (change)="filter()">
              <option *ngFor="let a of listOfApartmentTypes" [value]="a.Type_Name">{{a.Type_Name}}</option>
            </select>
            <select [(ngModel)]="filteredCityName" (change)="filter()">
              <option *ngFor="let a of listOfCityNames" [value]="a.City_Name">{{a.City_Name}}</option>
            </select>

          </div>
        </div>
    </div>
    
		<div class="col-md-10" id="records">

        <p style="text-align: center">RECORDS</p>

        <table>
          <tr>
            <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Person_Name')">Ime osobe
              <span class="glyphicon sort-icon" *ngIf="key =='Person_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </td>
            <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Person_Surname')">Prezime osobe
              <span class="glyphicon sort-icon" *ngIf="key =='Person_Surname'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </td>
            <td>Tip stana</td>
            <td class="sortiraj" tooltip="Sortiraj" (click)="sort('City_Name')">Naziv grada
              <span class="glyphicon sort-icon" *ngIf="key =='City_Name'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </td>
            <td>Adresa</td>
            <td>Broj stana</td>
            <td>Puno ime vlasnika</td>
            <td class="sortiraj" tooltip="Sortiraj" (click)="sort('Date_Time')">Datum
              <span class="glyphicon sort-icon" *ngIf="key =='Date_Time'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
            </td>
            <td>Vreme</td>
            <td>Status</td>
          </tr>
          <tr *ngFor="let record of filteredRecords | orderBy: key : reverse | filter:searchfilter | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
              <td>{{record.Person_Name}}</td>
              <td>{{record.Person_Surname}}</td>
              <td>{{record.Type_Name}}</td>
              <td>{{record.City_Name}}</td>
              <td>{{record.Address}}</td>
              <td>{{record.Apartment_Number}}</td>
              <td>{{record.Owner_Name}} {{record.Owner_Surname}}</td>
              <td>{{record.Date_Time| date:'dd.MM.yyyy'}}</td>
              <td>{{record.Date_Time | date:"HH:mm"}}</td>
              <td>{{record.Record_Status}}</td>
          </tr>
        
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
    <h3>Vremenski Period</h3>
      <div class="radio">
          <label><input type="radio" name="optradio" (change)="getRecordsToday()">Dnevno</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio" (change)="getRecordsWeek()">Nedeljno</label>
        </div>
        <div class="radio">
          <label><input type="radio" name="optradio" (change)="getRecordsMonth()">Mesečno</label>
        </div>
        



     
	</div>
</div>